<h1>Hi <%= @user.username %></h1>,

<p>You are receiving this email because an account was created
with the email <%= @user.email %>.  If this was not you,
please disregard this email and the account will be closed
automatically within 48 hours.  Otherwise, please click or
copy and paste the link below to confirm your account.</p>


